[alias]
	lg = log --graph --format=format:'%C(bold blue)%h%C(reset) %C(green)(%ar)%C(reset)%C(auto)%d%C(reset) %C(auto)%s%C(reset) %C(yellow)%ae%C(reset)'
	wt = worktree
	refd = show -s --pretty=tformat:'%cd "%s"' --date=short
	refh = show -s --pretty=tformat:'%h (\"%s\")'
[core]
	excludesFile = ~/.gitignore
	abbrev = 12
[http]
	cookieFile = ~/.gitcookies
[include]
	path = ~/.gitconfig-local
[init]
	defaultBranch = main
[pull]
	ff = only
[push]
	default = nothing
[sendemail]
	smtpServer = /usr/bin/msmtp
[user]
	name = Roi Martin
	email = jroi.martin@gmail.com
