[user]
	name = Roi Martin
	email = jroi.martin@gmail.com
[alias]
	lg = log --graph --format=format:'%C(bold blue)%h%C(reset) %C(green)(%ar)%C(reset)%C(auto)%d%C(reset) %C(auto)%s%C(reset) %C(yellow)%ae%C(reset)'
	wt = worktree
[push]
	default = nothing
[sendemail]
	smtpServer = /usr/bin/msmtp
[http]
	cookieFile = ~/.gitcookies
[core]
	excludesFile = ~/.gitignore
[include]
	path = ~/.gitconfig-local
