#!/bin/sh

set -e

# Remove the "inbox" tag from replied, forwarded and draft messages.
notmuch tag -inbox -- tag:replied or tag:passed or tag:draft

# Remove the "inbox" tag and tag messages depending on their location.
notmuch tag -inbox +draft -- folder:/Drafts/
notmuch tag -inbox +deleted -- folder:/Trash/
notmuch tag -inbox +sent -- 'folder:"/Sent Mail/"'
notmuch tag -inbox +foo -- folder:/foo/

# Tag messages from mailing lists.
notmuch tag -inbox +bar -- to:bar@example.com
