#!/bin/sh

set -e

# Ignore draft messages.
notmuch tag -new -- tag:new and tag:draft

# Tag sent messages.
notmuch tag -new +sent -- tag:new and from:user@example.com

# Tag mailing list messages.
notmuch tag -new +ml -- tag:new and to:ml@example.com

# Add inbox tag to remaining messages.
notmuch tag -new +inbox -- tag:new
