#!/bin/sh

set -e

# Ignore draft messages.
notmuch tag -new -- 'tag:new and tag:draft'

# Add "sent" tag to sent messages.
notmuch tag +sent -- 'tag:new and from:user@example.com'

# Add "me" and "inbox" tags to direct messages.
notmuch tag +me +inbox -- 'tag:new and to:user@example.com'

# Tag mailing list messages.
notmuch tag +ml -- 'tag:new and to:ml@example.com'

# Remove "new" tag.
notmuch tag -new -- 'tag:new'
