;;; Local setup.

;;;; Notmuch.

;; Configure list of saved searches.
(customize-set-variable 'notmuch-saved-searches
			'((:name "inbox+unread" :query "tag:inbox and tag:unread" :key "I")
			  (:name "inbox" :query "tag:inbox" :key "i")
			  (:name "unread" :query "tag:unread" :key "u")
			  (:name "flagged" :query "tag:flagged" :key "f")
			  (:name "sent" :query "tag:sent" :key "t")
			  (:name "drafts" :query "tag:draft" :key "d")
			  (:name "me" :query "tag:me" :key "m")
			  (:name "all mail" :query "*" :key "a")))

;; Do not add an FCC header.  Some mail servers save their own copy of
;; sent mails.
(customize-set-variable 'notmuch-fcc-dirs nil)

;;;; Sending mail.

;; Set full name and mail address.
(customize-set-variable 'user-full-name "Full Name")
(customize-set-variable 'user-mail-address "user@example.com")

;;;; Forge.

;; Add GHE to the list of git forges.
(with-eval-after-load 'forge
  (add-to-list 'forge-alist '("corp.example.com"
			      "corp.example.com/api/v3"
			      "corp.example.com"
			      forge-github-repository)))

;;;; ERC.

;; Add IRC accounts.
(customize-set-variable 'jroi-erc-accounts-alist
			'((lc . (:server "irc.libera.chat" :port 6697 :nick "nick" :user "nick" :auth "Libera.Chat-nick"))))

;;;; Elfeed.

;; Add RSS feeds.
(customize-set-variable 'elfeed-feeds
			'(("https://example.com/feed.atom" first-tag second-tag)))
